.App {
  background-color: hsl(210, 50%, 10%);
  color: hsl(210, 50%, 95%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
output {
  position: fixed;
  bottom: 0;
  left: 0;
}
svg {
}

svg .transparent {
  fill: none;
}

svg .stroked {
  stroke: hsl(210, 50%, 95%);
  stroke-width: 1;
}

svg .stroked.dim {
  stroke: hsl(210, 50%, 50%);
}
svg .stroked.bright {
  stroke: hsl(30, 100%, 50%);
}
svg text {
  fill:hsl(30, 50%, 50%);
}
code {
  white-space: pre;
}