.App {
  background-color: hsl(210, 50%, 10%);
  color: hsl(210, 50%, 95%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  flex: 1;
  width: 100vmin;
}

svg .transparent {
  fill: none;
}

svg .stroked {
  stroke: hsl(210, 50%, 95%);
  stroke-width: 1;
}

svg .stroked.dim {
  stroke: hsl(210, 50%, 50%);
}

svg text {
  fill:hsl(210, 50%, 50%);
}
code {
  white-space: pre;
}